<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hcdz.ModulePcie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hcdz.ModulePcie.Properties.Settings>
            <setting name="Bar0" serializeAs="String">
                <value>Bar0</value>
            </setting>
            <setting name="Bar1" serializeAs="String">
                <value>Bar1</value>
            </setting>
            <setting name="Bar2" serializeAs="String">
                <value>Bar2</value>
            </setting>
            <setting name="Bar3" serializeAs="String">
                <value />
            </setting>
            <setting name="Bar4" serializeAs="String">
                <value />
            </setting>
            <setting name="Bar5" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost:8080/signalr</value>
            </setting>
            <setting name="DwonloadUrl" serializeAs="String">
                <value>http://localhost:8080/api/download/getbackup?filepath=</value>
            </setting>
        </Hcdz.ModulePcie.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>