<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hcdz.ModulePcie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hcdz.ModulePcie.Properties.Settings>
            <setting name="Bar0" serializeAs="String">
                <value>Bar0</value>
            </setting>
            <setting name="Bar1" serializeAs="String">
                <value>Bar1</value>
            </setting>
            <setting name="Bar2" serializeAs="String">
                <value>Bar2</value>
            </setting>
            <setting name="Bar3" serializeAs="String">
                <value />
            </setting>
            <setting name="Bar4" serializeAs="String">
                <value />
            </setting>
            <setting name="Bar5" serializeAs="String">
                <value />
            </setting>
        </Hcdz.ModulePcie.Properties.Settings>
    </userSettings>
</configuration>